:root {
    font-size: .8em;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
    
*, ::before, ::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    margin: 0 auto;
}
.container::before, .container::after,
.content::before, .content::after {
    clear: both;
    content: " ";
	display: table;
}
.row {
    width: 100%;
}
.row::before, .row::after {
    content: " ";
    display: block;
    clear: both;
}
.row>[class*=col-] {
    float: left;
}
.col-1 {width: 8.3%;}
.col-2 {width: 16.7%;}
.col-3 {width: 25%;}
.col-4 {width: 33.3%;}
.col-5 {width: 41.6%;}
.col-6 {width: calc(50% - 1.6em);}
.col-7 {width: 58.3%;}
.col-8 {width: 66.6%;}
.col-9 {width: 75%;}
.col-10 {width: 83.3%;}
.col-11 {width: 91.6%;}
.col-12 {width: 100%;}


header {
    height: 4.6em;
}
h1 {
  color: white;
  background: rgb(245, 173, 110);  
  padding: .1em .2em;
}
ul {
    overflow: auto;
    background-color: rgb(51, 88, 156);
}
li {
    float: left;
    list-style-type: none;
    background-color: rgb(51, 88, 156);
    margin: .4em;
    cursor: pointer;
}
li>a {
    text-decoration: none;
    color: white;
}


main, .violet, .content, .green  {
    height: calc(100vh - 9.6em);
}
.violet {
    background-color: rgb(247, 72, 238);
}
.green {
    background-color: rgb(107, 252, 94);
}
.content {
    padding-top: .8em;
    display: block;
}
.block {
    background-color: rgb(224, 218, 218);
    min-width: 8.4em;
    margin: 0 .8em .8em .8em;
    overflow: hidden;
}
img {
    display: table;
    width: 7em;
    margin: 1em .7em 0 .7em;
    float: left;
}
h2 {
    margin: 1.5em 0 .4em 0; 
}
p {
    overflow: hidden;
}

footer {
    display: block;
    height: 5em;
    background-color: rgb(22, 100, 94);
}