:root {
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
    
*, ::before, ::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
header {
    height: 4.5em;
}
h1 {
  color: white;
  background: rgb(245, 173, 110);  
  padding: .1em .2em;
}
ul {
    overflow: auto;
    background-color: rgb(51, 88, 156);
}
li {
    float: left;
    list-style-type: none;
    background-color: rgb(51, 88, 156);
    margin: .4em;
    cursor: pointer;
}
li>a {
    text-decoration: none;
    color: white;
}
.container {
    position: relative;
    width: 100%;
    margin: 0 auto;
    /* overflow: auto; */
}
.container::before, .container::after {
    clear: both;
    content: " ";
	display: table;
}
main {
    position: relative;
}
.violet {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 20%;
    background-color: rgb(248, 117, 248);
}
.green {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 20%;
    background: rgb(162, 219, 87);
}
.content {
    background-color: rgb(255, 255, 255);
    margin-left: 20%;
    margin-right: 20%;
    min-height: calc(100vh - 134px);
    overflow: auto;
    display: block;
}

.block {
    background-color: rgb(224, 218, 218);
    width: calc(50% - 1em);
    min-width: 8.4em;
    margin: .8em 0 .8em 0;
    overflow: hidden;
    float: left;
}
.block:nth-child(odd) {
    margin-right: .6em;
    margin-left: .6em;
}
.block:nth-child(even) {
    margin-right: .6em;
}

img {
    display: table;
    width: 7em;
    margin: 1em .7em 0 .7em;
    float: left;
}
h2 {
    margin: 1.5em 0 .4em 0; 
}
p {
    overflow: hidden;
}

footer {
    display: block;
    height: 70px;
    background-color: rgb(22, 100, 94);
}

    